aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
coverage==7.14.1
cryptography==48.0.1
Django==5.1.15
django-anymail==15.0
django-csp==4.0
django-encrypted-model-fields==0.6.5
django-environ==0.13.0
django-otp==1.7.0
django-ratelimit==4.1.0
factory_boy==3.3.3
Faker==40.23.0
freezegun==1.5.5
frozenlist==1.8.0
gunicorn==23.0.0
http_ece==1.2.1
idna==3.18
iniconfig==2.3.0
libcst==1.8.6
linkify-it-py==2.1.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
multidict==6.7.1
mutmut==3.6.0
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
propcache==0.5.2
psycopg2-binary==2.9.12
py-vapid==1.9.4
pycparser==3.0
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywebpush==2.3.0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
segno==1.6.6
setproctitle==1.3.7
six==1.17.0
sqlparse==0.5.5
textual==8.2.7
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.7.0
yarl==1.24.2
